table {
	border : none;
	border-collapse: collapse;
	background-color: #252525;
	margin-left: 30%;
	margin-top: 10%;
}
td{
	padding: 5px;
	border: none;
}
input[type=text]{
	padding: 10px;
	width: 26em;
	border-style: solid;
	text-align: right;
	font-size: 16px;
}
input[type=text]:disabled{
	background-color: white;
}
.btn {
	width: 100px;
	height: 40px;
	background-color: #7B7B7B;
	border: none;
	color: white;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}
.opr{
	background-color: #F79D1B;
}
.clr{
	background-color: #0A00FF;
	;
}
.hsl{
	background-color: #4BBD5F;
}
html {
	background-color: #252525;	
}
